<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="shortcut icon" href="../static/images/logoo.png" type="image/svg+xml"/>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../scripts.js"></script> 
</head>
<body>
    
    <header>
        <div class="header-ticker">
            <ul>
                <li>CHRYSALIS : Nourish Your Mind, Body, and Soul</li>
                <li>Most Delicious Nutritious Meal Recipes</li>
                <li>Fitness Classes: For Whatever Yout Body Requires</li>
                <li>Exploring the depths of mental well-being, one article at a time.</li>
            </ul>
        </div>
        
        <nav>
            <div class="navbar">
                <a href="{{ url_for('index') }}" class="navbar-logo"></a>
                <div class="navbar-links">
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('recipes') }}">Recipes</a>
                    <a href="{{ url_for('fitness') }}">Fitness</a>
                    <a href="{{ url_for('mental_health') }}">Mental Health</a>
                    <a href="{{ url_for('admin_login') }}" class="admin-button">Admin</a>
                    {% if 'user_id' in session %}
                    <li><a href="{{ url_for('logout') }}" class="logout-button">Logout</a></li>
                {% endif %}
                </div>
                <a href="{{ url_for('login') }}" class="navbar-joinlogo"></a>
            </div>
        </nav>
    </header>
            
            <div class="main">
                <div class="main_slogan">
                    <h2>Fuel Your Body, Spread Your Wings</h2>
                    <h2>Fuel Your Body, Spread Your Wings</h2>
                </div>
                <div class="main_image">
                    <img src="../static/images/OIP-removebg-preview.png">
                </div>
                
            </div>
            <div class="main_text">
                <img src="{{ url_for('static', filename='images/butterfly.png') }}" class="butterfly left" alt="Butterfly">
                <p>
                    Eating healthy food is crucial for maintaining optimal physical and mental health, boosting energy levels, and supporting overall well-being. A balanced diet rich in nutrients helps prevent chronic diseases and promotes a longer, more vibrant life.
                </p>
                <img src="{{ url_for('static', filename='images/butterfly.png') }}" class="butterfly right" alt="Butterfly">
            </div>
       
    <div class="about">
            <div class="about_main">
     <div class="image">
                    <img src="../static/images/Food-Plate.png">
                </div>
    
                <div class="about_text">
                    <h1><span>About</span>Us</h1>
                    <h3>Why Choose us?</h3>
                    <p>
                        We are dedicated to spreading healthy habits that empower individuals to transform their lives, much like a butterfly emerging from a caterpillar. Our purpose is to inspire and support you on your journey towards better health, helping you make choices that enhance your physical and mental well-being. Through education, motivation, and practical tips, we aim to foster a community where everyone can thrive and live their most vibrant, fulfilling lives. Join us in our mission to eat healthy, live better, and spread our wings together.
                    </p>
                </div>
            </div>
        </div>
    
       
    
        <!--recipes-->
        <div class="recipes" id="appetizers">
            <h1>Appetizers<span>Recipes</span></h1>
            <div class="recipes_box" id="appetizersBox">
                {% for recipe in appetizer_recipes %}
                <div class="recipes_card">
                    <div class="recipes_image">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    </div>
                    <div class="recipes_info">
                        <h2>{{ recipe.title }}</h2>
                        <p>{{ recipe.description }}</p>
                        <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="check_recipe_btn">Check Recipe</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="recipes" id="recipes">
            <h1>Main Dish<span>Recipes</span></h1>
            <div class="recipes_box" id="recipesBox">
                {% for recipe in recipes %}
                <div class="recipes_card">
                    <div class="recipes_image">
                        <img src="{{ recipe.image }}">
                    </div>
                    <div class="recipes_info">
                        <h2>{{ recipe.title }}</h2>
                        <p>{{ recipe.description }}</p>
                        <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="check_recipe_btn">Check Recipe</a>
                    </div>
                </div>

                {% endfor %}
               
            </div>
    
        </div>
    
        <div class="recipes" id="desserts">
            <h1>Dessert<span>Recipes</span></h1>
            <div class="recipes_box" id="dessertsBox">
                {% for recipe in dessert_recipes %}
                <div class="recipes_card">
                    <div class="recipes_image">
                        <img src="{{ recipe.image }}" >
                    </div>
                    <div class="recipes_info">
                        <h2>{{ recipe.title }}</h2>
                        <p>{{ recipe.description }}</p>
                        <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="check_recipe_btn">Check Recipe</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="recipes" id="drinks">
            <h1>Drink<span>Recipes</span></h1>
            <div class="recipes_box" id="drinksBox">
                {% for recipe in drink_recipes %}
                <div class="recipes_card">
                    <div class="recipes_image">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    </div>
                    <div class="recipes_info">
                        <h2>{{ recipe.title }}</h2>
                        <p>{{ recipe.description }}</p>
                        <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="check_recipe_btn">Check Recipe</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <!--Gallary-->
        <div class="gallary" id="Gallary">
            <h1>Our<span>Kitchen Essentials</span></h1>
    
            <div class="gallary_image_box">
                {% for item in gallery_items %}
                <div class="gallary_image">
                    <img src="{{ item.image_path }}" alt="{{ item.title }}">
    
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                    <a href="{{ item.order_link }}" class="gallary_btn">Read Article</a>
                </div>
                {% endfor %}
            </div>
        </div>
    
    
    
        <!--Review-->
        <div class="review" id="Review">
            <h1>Customer<span>Review</span></h1>
            <div class="review_box">
                {% for review in reviews %}
                <div class="review_card">
                    <div class="review_profile">
                        <img src="{{ review.image_url }}" alt="Review Image">
                    </div>
                    <div class="review_text">
                        <h2 class="name">{{ review.name }}</h2>
                        <div class="review_icon">
                            {% for i in range(1, 6) %}
                                {% if i <= review.rating %}
                                    <i class="fa-solid fa-star"></i>
                                {% elif i - review.rating < 1 %}
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                {% else %}
                                    <i class="fa-solid fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="review_social">
                            {% if review.facebook_url %}
                                <a href="{{ review.facebook_url }}"><i class="fa-brands fa-facebook-f"></i></a>
                            {% endif %}
                            {% if review.instagram_url %}
                                <a href="{{ review.instagram_url }}"><i class="fa-brands fa-instagram"></i></a>
                            {% endif %}
                            {% if review.twitter_url %}
                                <a href="{{ review.twitter_url }}"><i class="fa-brands fa-twitter"></i></a>
                            {% endif %}
                            {% if review.linkedin_url %}
                                <a href="{{ review.linkedin_url }}"><i class="fa-brands fa-linkedin-in"></i></a>
                            {% endif %}
                        </div>
                        <p>{{ review.review_text }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">CHRYSALIS</h1>
              <h2>Contact Us</h2>
              <address>
                Ghobeiry, Old Airport Road, Beirut, Lebanon
                <br>
                maj032@usal.edu.lb
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">Our Links</h2>
                <ul class="nav__ul">
                  <li><a href="{{ url_for('index') }}">Home</a></li>
                  <li><a href="{{ url_for('fitness') }}">Fitness</a></li>
                  <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                  <li><a href="{{ url_for('store') }}">Shop</a></li>
                </ul>
              </li>
              <li class="nav__item">
                <h2 class="nav__title">Legal</h2>
                <ul class="nav__ul">
                  <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
                  <li><a href="{{ url_for('sitemap') }}">Sitemap</a></li>
                </ul>
              </li>
            </ul>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">Our Socials</h2>
                <ul class="socialList nav__ul">
                  <li><a href="https://www.facebook.com/Usal.uni/" target="_blank" class="socialIcons"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook"/></a></li>
                  <li><a href="https://www.instagram.com/m_a_r_j_a_y/?hl=en" target="_blank" class="socialIcons"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram"/></a></li>
                  <li><a href="https://marketing.twitter.com/en/insights/covid19-trends-health-wellness" target="_blank" class="socialIcons"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter"/></a></li>
                </ul>
              </li>
            </ul>
            
            <div class="legal">
              <p>© 2024 CHRYSALIS. All rights reserved.</p>
              <div class="legal__links">
                <span>All what you need for a perfect healthy lifestyle in one place.</span>
              </div>
            </div>
          </footer>
          
        
    </body>
    </html>

