<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health</title>
    <link rel="shortcut icon" href="../static/images/logoo.png" type="image/svg+xml"/>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../scripts.js"></script> 
</head>
<body>
    
    <header>
        <div class="header-ticker">
            <ul>
                <li>CHRYSALIS : Nourish Your Mind, Body, and Soul</li>
                <li>Most Delicious Nutritious Meal Recipes</li>
                <li>Fitness Classes: For Whatever Yout Body Requires</li>
                <li>Exploring the depths of mental well-being, one article at a time.</li>
            </ul>
        </div>
        
        <nav>
            <div class="navbar">
                <a href="{{ url_for('index') }}" class="navbar-logo"></a>
                <div class="navbar-links">
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('recipes') }}">Recipes</a>
                    <a href="{{ url_for('fitness') }}">Fitness</a>
                    <a href="{{ url_for('mental_health') }}">Mental Health</a>
                    <a href="{{ url_for('admin_login') }}" class="admin-button">Admin</a>
                    {% if 'user_id' in session %}
                    <li><a href="{{ url_for('logout') }}" class="logout-button">Logout</a></li>
                {% endif %}
                </div>
                <a href="{{ url_for('login') }}" class="navbar-joinlogo"></a>
            </div>
        </nav>
    </header>
    
    <div class="mentalMain" >
        <div class="mental_main_slogan">

            <h2>Nourish Your Mind, Embrace Your Strength</h2>
        </div>
    
        <video class="mentalMainVid" id="video-background" autoplay muted loop>
            <source src="../static/images/Luna Moth ( Actias Luna ) in flight - Blender [ Slow Motion ].mp4">
          
    </div>
    
    <div class="main_text">
        <img src="{{ url_for('static', filename='images/butterfly.png') }}" class="butterfly left" alt="Butterfly">
        <p>
            Taking care of your mental health is essential for maintaining overall well-being, enhancing emotional resilience, and achieving a balanced life. Through mindfulness, therapy, and self-care practices, you can nurture a healthier mind and live a more fulfilling life.
        </p>
        <img src="{{ url_for('static', filename='images/butterfly.png') }}" class="butterfly right" alt="Butterfly">
    </div>
    
    
    <!--About-->
    <div class="about">
        <div class="about_main">
            <div class="image">
                <img src="../static/images/yogaSymbol.png">
            </div>
            <div class="about_text">
                <h1><span>Importance Of</span> Mental Health</h1>
                <h3>Why Choose Us?</h3>
                <p>
                    We are dedicated to promoting mental health awareness and providing resources that empower individuals to enhance their emotional and psychological well-being. Our mission is to support you on your journey to mental wellness, offering guidance, education, and practical tools to help you thrive. Join our community and embark on a path towards a healthier, more balanced life.
                </p>
            </div>
        </div>
    </div>
    
    <!-- Articles -->
<div class="articles" id="mindfulness">
    <h1>Mindfulness<span></span></h1>
    <div class="articles_box" id="mindfulnessBox">
        {% for article in mindfulness_articles %}
        <div class="articles_card">
            <div class="articles_image">
                <img src="{{ article.image }}" alt="{{ article.title }}">
            </div>
            <div class="articles_info">
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <a href="{{ article.article_link }}" class="check_article_btn">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="articles" id="therapy">
    <h1>Therapy<span></span></h1>
    <div class="articles_box" id="therapyBox">
        {% for article in therapy_articles %}
        <div class="articles_card">
            <div class="articles_image">
                <img src="{{ article.image }}">
            </div>
            <div class="articles_info">
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <a href="{{ article.article_link }}" class="check_article_btn">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    
  <!-- books part lzm zabbet lsize-->
<div class="books" id="Books">
    <h1>Books<span> On Mental Health</span></h1>
    <div class="books_container">
        {% for book in book_items %}
        <div class="book_item">
            <img src="{{ book['image_path'] }}" alt="{{ book['title'] }}">
            <div class="book_info">
                <h3>{{ book['title'] }}</h3>
                <p>{{ book['author'] }}</p>
                <p>{{ book['description'] }}</p>
                <a href="{{ book['order_link'] }}" class="book_btn">Order Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


    
    <!--Footer-->
    <footer class="footer">
        <div class="footer__addr">
          <h1 class="footer__logo">CHRYSALIS</h1>
          <h2>Contact Us</h2>
          <address>
            Ghobeiry, Old Airport Road, Beirut, Lebanon
            <br>
            maj032@usal.edu.lb
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">Our Links</h2>
            <ul class="nav__ul">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('fitness') }}">Fitness</a></li>
              <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
              <li><a href="{{ url_for('store') }}">Shop</a></li>
            </ul>
          </li>
          <li class="nav__item">
            <h2 class="nav__title">Legal</h2>
            <ul class="nav__ul">
              <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
              <li><a href="{{ url_for('sitemap') }}">Sitemap</a></li>
            </ul>
          </li>
        </ul>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">Our Socials</h2>
            <ul class="socialList nav__ul">
              <li><a href="https://www.facebook.com/Usal.uni/" target="_blank" class="socialIcons"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook"/></a></li>
              <li><a href="https://www.instagram.com/m_a_r_j_a_y/?hl=en" target="_blank" class="socialIcons"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram"/></a></li>
              <li><a href="https://marketing.twitter.com/en/insights/covid19-trends-health-wellness" target="_blank" class="socialIcons"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter"/></a></li>
            </ul>
          </li>
        </ul>
        
        <div class="legal">
          <p>© 2024 CHRYSALIS. All rights reserved.</p>
          <div class="legal__links">
            <span>All what you need for a perfect healthy lifestyle in one place.</span>
          </div>
        </div>
      </footer>
      
</body>
</html>
